<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>com.ipn.mx.blog.servlet.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>com.ipn.mx.blog.servlet.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentarioServlet</servlet-name>
        <servlet-class>com.ipn.mx.blog.servlet.ComentarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentarioRest</servlet-name>
        <servlet-class>com.ipn.mx.blog.servlet.ComentarioRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostRest</servlet-name>
        <servlet-class>com.ipn.mx.blog.servlet.PostRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioRest</servlet-name>
        <servlet-class>com.ipn.mx.blog.servlet.UsuarioRest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/PostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentarioServlet</servlet-name>
        <url-pattern>/ComentarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentarioRest</servlet-name>
        <url-pattern>/ComentarioRest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostRest</servlet-name>
        <url-pattern>/PostRest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioRest</servlet-name>
        <url-pattern>/UsuarioRest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
